.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575cd !important;
  color: floralwhite; }

.address {
  font-size: 80%;
  margin: 0px;
  color: #000; }

.body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar a {
  cursor: pointer; }

.navbar-dark {
  background-color: #512da8; }

.tab-content {
  border: 1px solid #ddd;
  border-bottom: none !important;
  padding: 10px; }

.carousel {
  background: #512da8; }
  .carousel li {
    cursor: pointer; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      bottom: 0;
      min-height: 300px; }

#carouselButton {
  right: 0;
  position: absolute;
  bottom: 0; }
